.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 120px;
    background-color: a9c4e4;
}

.reviews {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.reviews li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;

}

.review-form {
    border: 1px solid #ccc;
    padding: 10px;
}

.review-form label, .review-form textarea {
    display: block;
    margin-bottom: 10px;
}

.review-form textarea {
    width: 100%;
    height: 100px;
}

.review-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}

input{
    width: 100%;
    height: 100px;
}