@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.background{
    position: relative;
    height: auto;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}

.tag-line{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-size: 3rem;
    font-weight: 600;
    padding: 5rem;
}

.container{
    place-content: center;
    height: inherit;
}
.card-part{
    background-color:#a9c4e4;
}
.bg-main{
    background-color:#000000;
    position: relative;
    height:auto;
}
.card {
    margin: 3rem;
    transition: border-color 0.5s, box-shadow 0.5s;
}
.card:hover {
    border-color: rgba(13, 110, 253, 0.7);
    box-shadow: 0px 0px 10px 2px rgba(13, 110, 253, 0.6);
  }
